# Download the data

### Go here: https://www.kaggle.com/c/nlp-getting-started/data

# Load data

In [3]:
# !pip install pandas sklearn numpy matplotlib

In [2]:
# If you get this kind of error, you don't have the package
import xxx

ModuleNotFoundError: No module named 'xxx'

In [4]:
import pandas as pd

In [8]:
# If you get this error, make sure you are specifying the correct path
df_train = pd.read_csv("data/train.csvxx")

FileNotFoundError: [Errno 2] File data/train.csvxx does not exist: 'data/train.csvxx'

In [9]:
df_train = pd.read_csv("/home/dataista/git/ml-introduction/data/train.csv")

In [10]:
df_train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [11]:
df_train.shape

(7613, 5)

In [14]:
df_train = df_train.drop(['keyword', 'location'], axis=1)

In [15]:
df_train.shape

(7613, 3)

In [16]:
df_train['target'].value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [18]:
df_train['target'].value_counts(normalize=True).round(2)

0    0.57
1    0.43
Name: target, dtype: float64

In [19]:
df_test = pd.read_csv("/home/dataista/git/ml-introduction/data/test.csv")
df_test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [20]:
df_test = df_test.drop(['keyword', 'location'], axis=1)
df_test.head()

   id                                               text
0   0                 Just happened a terrible car crash
1   2  Heard about #earthquake is different cities, s...
2   3  there is a forest fire at spot pond, geese are...
3   9           Apocalypse lighting. #Spokane #wildfires
4  11      Typhoon Soudelor kills 28 in China and Taiwan

In [21]:
df_test.shape

(3263, 2)

In [22]:
df_sub = pd.read_csv("/home/dataista/git/ml-introduction/data/sample_submission.csv")
df_sub.head()

   id  target
0   0       0
1   2       0
2   3       0
3   9       0
4  11       0

In [23]:
from sklearn.metrics import accuracy_score

In [25]:
accuracy_score(y_true=[1, 1, 0, 0], y_pred=[1, 1, 1, 1])

0.5

In [ ]:
#
90% non disaster
10% disaster

In [28]:
df_train.head(20)

    id                                               text  target
0    1  Our Deeds are the Reason of this #earthquake M...       1
1    4             Forest fire near La Ronge Sask. Canada       1
2    5  All residents asked to 'shelter in place' are ...       1
3    6  13,000 people receive #wildfires evacuation or...       1
4    7  Just got sent this photo from Ruby #Alaska as ...       1
5    8  #RockyFire Update => California Hwy. 20 closed...       1
6   10  #flood #disaster Heavy rain causes flash flood...       1
7   13  I'm on top of the hill and I can see a fire in...       1
8   14  There's an emergency evacuation happening now ...       1
9   15  I'm afraid that the tornado is coming to our a...       1
10  16        Three people died from the heat wave so far       1
11  17  Haha South Tampa is getting flooded hah- WAIT ...       1
12  18  #raining #flooding #Florida #TampaBay #Tampa 1...       1
13  19            #Flood in Bago Myanmar #We arrived Bago       1
14  20  Damage to school bus on 80 in multi car crash ...       1
15  23                                     What's up man?       0
16  24                                      I love fruits       0
17  25                                   Summer is lovely       0
18  26                                  My car is so fast       0
19  28                       What a goooooooaaaaaal!!!!!!       0